<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeLeaf/Layout">
<head>
<meta charset="utf-8" />
<title>Benali</title>
</head>
<body>
	<th:block th:include="@{/l/_templateHeader2}"></th:block>
	<div class="container">
		<div class="row">
			<table class="table table-dark">
				<thead class="thead-light">
				<tr>
					<th>Nom Smartphone</th>
					<th>Prix du Smartphone</th>
					<th>RAM du Smartphone</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s1 : ${smart}">
					<td th:text="${s1.nomSmartPhone}"></td>
					<td th:text="${s1.prixSmartPhone}"></td>
					<td th:text="${s1.RAMSmartPhone}"></td>
				</tr>
			</tbody>
			</table>
		</div>
		<div class="row">
			<table class="table table-dark">
				<thead class="thead-light">
				<tr>
					<th>Nom Smartphone</th>
					<th>Prix du Smartphone</th>
					<th>RAM du Smartphone</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s2 : ${smart2}">
					<td th:text="${s2.nomSmartPhone}"></td>
					<td th:text="${s2.prixSmartPhone}"></td>
					<td th:text="${s2.RAMSmartPhone}"></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</body>
</html>
