<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeLeaf/Layout">
<head>
<meta charset="utf-8" />
<title>Benali</title>
<link rel="stylesheet" content-type="text/css"
	href="../static/css/styles.css" th:href="@{../static/css/styles.css}" />
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css" />

</head>
<body>
	<th:block th:include="/l/_templateHeader2"></th:block>

	<div class="container">
		<div class="row col-md-6 col-md-offset-2 custyle">
			<table class="table table-striped custab">
				<thead>
					<tr>
						<th>Name</th>
						<th>Mail</th>
					</tr>
				</thead>
				<tr th:each="user : ${users}">
					<td th:text="${user.pseudo}"></td>
					<td th:text="${user.mail}"></td>
				</tr>
			</table>
			<table class="table table-striped custab">
				<thead>
					<tr>
						<th>Nom du produit</th>
						<th>prix du produit</th>
					</tr>
				</thead>
				<tr th:each="produit : ${produits}">
					<td th:text="${produit.nomProduit}"></td>
					<td th:text="${produit.prix}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>