<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeLeaf/Layout">
<head>
<meta charset="utf-8" />
<title>Benali</title>
<link rel="stylesheet" content-type="text/css"
	href="../static/css/styles.css" th:href="@{../static/css/styles.css}" />


</head>
<body>

	<th:block th:include="/l/_templateHeader2"></th:block>
	<div>
	<form action="#" th:action="@{/l/ajouterProduit}" method="post"
		th:object="${produit}">
		<div class="tab4" style="display: table; margin-left: auto; margin-right: auto;">
			<p id="ins">Libellé</p>
			<input type="text" th:field="*{nomProduit}" />
			<p id="ins">Prix</p>
			<input type="text" th:field="*{prix}" /> 
			<p id="ins">Description</p>
			<input style="height: 90px;" type="text" th:field="*{description}" />
			<input type="submit"
				value="Ajouter" />
		</div>
	</form>
	</div>

	<script>
</script>
</body>

</html>