<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeLeaf/Layout">
<head>
<meta charset="utf-8" />
<title>Benali</title>
</head>
<body>
	<th:block th:include="@{/l/_templateHeader2}"></th:block>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
			<form action="#" th:action="@{/l/comparateur2}" method="post"
				th:object="${sdb}">
				<select class="form-control" th:field="*{idSmartPhone}">
					<option value="">--</option>
					<option th:each="smart : ${smarts}"
							 th:value="${smart.idSmartPhone}" 
							 th:text="${smart.nomSmartPhone}"/>
				</select>
				<input type="submit" />					
			</form>
			</div>
		</div>
	</div>
</body>
</html>
