<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.utlraq.net.nz/thymeLeaf/Layout">
<head>
<meta charset="utf-8" />
<title>Benali</title>
</head>
<body>
	<th:block th:include="@{/l/_templateHeader2}"></th:block>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<th:select class="form-control">
					<!-- 					<option>Samsung</option> -->
					<!-- 					<option>Apple</option> -->
					<!-- 					<option>Nokia</option> -->
					<!-- 					<option>ZTE</option> -->
					<!-- 					<option>LG</option> -->
					<!-- 					<option>Huawei</option> -->
					<!-- 					<option>BlackBerry</option> -->
					<!-- 					<option>Motorola</option> -->
					<!-- 					<option>Sony</option> -->
					<!-- 					<option>Htc</option> -->
					<th:options items=${produit.nom} />
					</select>
			</div>
			<form action="#" th:action="@{/l/com}" method="post"
				modelAttribute="phone1">
				<input type="submit" />
			</form>
		</div>
	</div>
</body>
</html>
