<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Phones</title>
</head>
<body>
	<th:block th:include="@{/l/_templateHeader2}"></th:block>
	<br></br>
	<br></br>
	<h1 class="text-center">
		Liste des produits <a href="/l/download">Test</a>
	</h1>
	<!-- 	<div class="container"> -->
	<!-- 		<table class="table table-dark"> -->
	<!-- 			<thead class="thead-light"> -->
	<!-- 				<tr> -->
	<!-- 					<th>Nom produit</th> -->
	<!-- 					<th>Prix</th> -->
	<!-- 					<th>Photo</th> -->
	<!-- 					<th>Info</th> -->
	<!-- 				</tr> -->
	<!-- 			</thead> -->
	<!-- 			<tbody> -->
	<!-- 				<tr th:each="produit : ${produit}"> -->
	<!-- 					<td th:text="${produit.nomProduit}"></td> -->
	<!-- 					<td th:text="${produit.prix}"></td> -->
	<!-- 					<td th:if="${produit.photoProduit} == Null">Pas de photo -->
	<!-- 						disponible</td> -->
	<!-- 					<td th:if="${produit.photoProduit} != Null"><img -->
	<!-- 						th:src="${produit.photoProduit}" /></td> -->
	<!-- 					<td><a -->
	<!-- 						th:href="@{/l/prod/{ProduitId}(ProduitId=${produit.idProduit})}">Plus -->
	<!-- 							d'info</a></td> -->
	<!-- 				</tr> -->
	<!-- 			</tbody> -->
	<!-- 		</table> -->
	<!-- 	</div> -->
	<div class="row"
		th:if="${!produitList.isEmpty()}">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table id="link-list" class="table table-dark"
				style="width: 100%">
				<thead class="thead-light">
					<tr>
						<th>Nom</th>
						<th>Prix</th>
						<th>Detail</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="produit : ${produitList}">
						<td th:text="${{produit.nomProduit}}">1</td>
						<td th:text="${{produit.prix}}">http://thegame.org</td>
						<td><a
							th:href="@{/article/detail/{produitId}(produitId=${produit.idProduit})}">Detail</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>
	<div class="row" th:fragment="pagination">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{|/l/listproduits/${pageNumber}|}" th:text="${pageNumber}"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2"></div>
</div>
</body>
</html>