<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Phones</title>
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
	<th:block th:include="@{/l/_templateHeader2}"></th:block>
	<br></br>
	<br></br>
	<h1 class="text-center">
		Liste des produits 
	</h1>
	<form action="#" th:action="@{/l/download}" method="get">
		<input type="hidden"  th:value="@{${#httpServletRequest.requestURI}}" th:name="uri"/>
		<button style="font-size:24px; position: relative; left: 230px; cursor: pointer;">Download <i class="fa fa-file-excel-o"></i></button>
	<div class="row" th:if="${!produitList.isEmpty()}">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table id="link-list" class="table table-dark" style="width: 100%">
				<thead class="thead-light">
					<tr>
						<th>Nom</th>
						<th>Prix</th>
						<th>Detail</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="produit : ${produitList}">
						<td th:text="${{produit.nomProduit}}">1</td>
						<td th:text="${{produit.prix}}">http://thegame.org</td>
						<td><a
							th:href="@{/l/article/detail/{produitId}(produitId=${produit.idProduit})}">Detail</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>
	</form>
	
	<div class="row" th:fragment="pagination">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<nav aria-label="Pagination">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:each="pageNumber : ${pageNumbers}">
						<a class="page-link" th:href="@{|/l/listproduits/${pageNumber}|}"
						th:text="${pageNumber}"></a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-md-2"></div>
	</div>
</body>
</html>