* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav .ins-con {
	float: right;
}
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.topnav #bas{
	display: inline;
    float: left;
    border: 1px solid #ccc;
    background-color: #d7d7d7;
    width: 90%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab1 a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 30%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 22px;
}
.tab4  {
	position: fixed;
	right: 40%;
	display: block;
    background-color: #008ed2;
    color: black;
    padding: 0px 14mm;
    width: 25%;
    height: 240px;
    border: none;
    outline: none;
    text-align: left;
    font-size: 22px;
}
 #ins{
	padding: 0px 15mm;
	width: 100%;
	display: block;
	color: black;
	font-size: 15px;
	
}
.tab2 a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 30%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 22px;
}
.tab3 a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 30%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 22px;
}
/* Change background color of buttons on hover */
.tab a:hover {
    background-color: #2196F3;
    color: white;
}
.a #ins{
color: white;
}

/* Create an active/current "tab button" class */
.tab a.active {
    background-color: #0080ff;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}

/* Clear floats after the tab */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}